rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow users to create their own profile upon sign-up
      allow create: if request.auth != null && request.auth.uid == userId;
      // Allow users to read and update their own profile data
      allow read, update: if request.auth != null && request.auth.uid == userId;
      // Disallow anyone from deleting a user document
      allow delete: if false;
    }
  }
}
