rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write their own profile.
    match /profiles/{userId} {
      allow read, create, update: if request.auth != null && request.auth.uid == userId;
    }
  }
}
